.border {
  width: 305px;
  height: 605px;
  background-color: white;
  border-style: solid;
  box-shadow: 10px 10px 5px #D8D8D8 ;
  padding: 15px;
  border-color: grey;
  border-width: thin;
}

.insideBorder{
  background-color: white;
  border-style: solid;
  border-color: grey;
  border-width: thin;
  width: 268px;
  height: 340px;
  padding: 15px;
}

.italic{
  font-style: italic;
}

.thick{
  font-weight: bold;
}

.image{
  width: 300px;
}

ul{
  list-style-type: none;
  padding: 0px;
}
